<a href="https://colab.research.google.com/github/Bbeta-bit/6810_49/blob/main/FeatureEngineering_OnGoing.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
# baseline model
#linear
# Train linear regression model
ols = LinearRegression().fit(X_train, y_train)

# Make predictions and evaluate
ols_pred = ols.predict(X_valid)
ols_rmse = np.sqrt(mean_squared_error(y_valid, ols_pred))
ols_r2 = r2_score(y_valid, ols_pred)
ols_mae = mean_absolute_error(y_valid, ols_pred)

print(f"\nLinear Regression Performance:")
print(f"RMSE: {ols_rmse:.2f}")
print(f"RÂ²: {ols_r2:.4f}")
print(f"MAE: {ols_mae:.2f}")

NameError: name 'LinearRegression' is not defined

In [1]:
# package laoding
import pandas as pd
import numpy as np

In [2]:
# dataset loading
df_olist_customers_dataset = pd.read_csv('/content/drive/MyDrive/Qbus/6810/Group-assignment/olist_customers_dataset.csv')
df_olist_orders_dataset = pd.read_csv('/content/drive/MyDrive/Qbus/6810/Group-assignment/olist_orders_dataset.csv')
df_olist_order_payments_dataset = pd.read_csv('/content/drive/MyDrive/Qbus/6810/Group-assignment/olist_order_payments_dataset.csv')
df_olist_order_reviews_dataset = pd.read_csv('/content/drive/MyDrive/Qbus/6810/Group-assignment/olist_order_reviews_dataset.csv')
df_olist_products_dataset = pd.read_csv('/content/drive/MyDrive/Qbus/6810/Group-assignment/olist_products_dataset.csv')
df_olist_sellers_dataset = pd.read_csv('/content/drive/MyDrive/Qbus/6810/Group-assignment/olist_sellers_dataset.csv')
df_product_category_name_translation = pd.read_csv('/content/drive/MyDrive/Qbus/6810/Group-assignment/product_category_name_translation.csv')
df_olist_geolocation_dataset = pd.read_csv('/content/drive/MyDrive/Qbus/6810/Group-assignment/olist_geolocation_dataset.csv')
df_olist_order_items_dataset = pd.read_csv('/content/drive/MyDrive/Qbus/6810/Group-assignment/olist_order_items_dataset.csv')

#1 Data preperation

##1.1 orders dataset

###1.1.1 Handling missing value
using simple imputation replacing the missing value by the average

In [3]:
missing_values = df_olist_orders_dataset.isnull().sum()
print(missing_values)

order_id                            0
customer_id                         0
order_status                        0
order_purchase_timestamp            0
order_approved_at                 160
order_delivered_carrier_date     1783
order_delivered_customer_date    2965
order_estimated_delivery_date       0
dtype: int64

In [4]:
# converting_datetime
df_olist_orders_dataset['order_purchase_timestamp'] = pd.to_datetime(df_olist_orders_dataset['order_purchase_timestamp'])
df_olist_orders_dataset['order_approved_at'] = pd.to_datetime(df_olist_orders_dataset['order_approved_at'])
df_olist_orders_dataset['order_delivered_carrier_date'] = pd.to_datetime(df_olist_orders_dataset['order_delivered_carrier_date'])
df_olist_orders_dataset['order_delivered_customer_date'] = pd.to_datetime(df_olist_orders_dataset['order_delivered_customer_date'])
df_olist_orders_dataset['order_estimated_delivery_date'] = pd.to_datetime(df_olist_orders_dataset['order_estimated_delivery_date'])

df_olist_orders_dataset['order_approved_at'].fillna(df_olist_orders_dataset['order_approved_at'].mean(), inplace=True)
df_olist_orders_dataset['order_delivered_carrier_date'].fillna(df_olist_orders_dataset['order_delivered_carrier_date'].mean(), inplace=True)
df_olist_orders_dataset['order_delivered_customer_date'].fillna(df_olist_orders_dataset['order_delivered_customer_date'].mean(), inplace=True)

print(df_olist_orders_dataset.head())

                           order_id                       customer_id  \
0  e481f51cbdc54678b7cc49136f2d6af7  9ef432eb6251297304e76186b10a928d
1  53cdb2fc8bc7dce0b6741e2150273451  b0830fb4747a6c6d20dea0b8c802d7ef
2  47770eb9100c2d0c44946d9cf07ec65d  41ce2a54c0b03bf3443c3d931a367089
3  949d5b44dbf5de918fe9c16f97b45f8a  f88197465ea7920adcdbec7375364d82
4  ad21c59c0840e6cb83a9ceb5573f8159  8ab97904e6daea8866dbdbc4fb7aad2c

  order_status order_purchase_timestamp   order_approved_at  \
0    delivered      2017-10-02 10:56:33 2017-10-02 11:07:15
1    delivered      2018-07-24 20:41:37 2018-07-26 03:24:27
2    delivered      2018-08-08 08:38:49 2018-08-08 08:55:23
3    delivered      2017-11-18 19:28:06 2017-11-18 19:45:59
4    delivered      2018-02-13 21:18:39 2018-02-13 22:20:29

  order_delivered_carrier_date order_delivered_customer_date  \
0          2017-10-04 19:55:00           2017-10-10 21:25:13
1          2018-07-26 14:31:00           2018-08-07 15:27:45
2          2018-08-08 13:50:00           2018-08-17 18:06:29
3          2017-11-22 13:39:59           2017-12-02 00:28:42
4          2018-02-14 19:46:34           2018-02-16 18:17:02

  order_estimated_delivery_date
0                    2017-10-18
1                    2018-08-13
2                    2018-09-04
3                    2017-12-15
4                    2018-02-26

<ipython-input-4-7573e068ea8b>:8: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df_olist_orders_dataset['order_approved_at'].fillna(df_olist_orders_dataset['order_approved_at'].mean(), inplace=True)
<ipython-input-4-7573e068ea8b>:9: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df_olist_orders_dataset['order_delivered_carrier_date'].fillna(df_olist_orders_dataset['order_delivered_carrier_date'].mean(), inplace=True)
<ipython-input-4-7573e068ea8b>:10: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df_olist_orders_dataset['order_delivered_customer_date'].fillna(df_olist_orders_dataset['order_delivered_customer_date'].mean(), inplace=True)

In [6]:
missing_values = df_olist_orders_dataset.isnull().sum()
print(missing_values)

order_id                         0
customer_id                      0
order_status                     0
order_purchase_timestamp         0
order_approved_at                0
order_delivered_carrier_date     0
order_delivered_customer_date    0
order_estimated_delivery_date    0
dtype: int64

###1.1.2 data converting
converting string to datetim

In [7]:
# create a column of shipping time
df_olist_orders_dataset['shiping_time']=df_olist_orders_dataset['order_delivered_customer_date']-df_olist_orders_dataset['order_approved_at']


#categorical data convert to dummy variable
# no need for ['delever status']

print(df_olist_orders_dataset.head())

                           order_id                       customer_id  \
0  e481f51cbdc54678b7cc49136f2d6af7  9ef432eb6251297304e76186b10a928d
1  53cdb2fc8bc7dce0b6741e2150273451  b0830fb4747a6c6d20dea0b8c802d7ef
2  47770eb9100c2d0c44946d9cf07ec65d  41ce2a54c0b03bf3443c3d931a367089
3  949d5b44dbf5de918fe9c16f97b45f8a  f88197465ea7920adcdbec7375364d82
4  ad21c59c0840e6cb83a9ceb5573f8159  8ab97904e6daea8866dbdbc4fb7aad2c

  order_status order_purchase_timestamp   order_approved_at  \
0    delivered      2017-10-02 10:56:33 2017-10-02 11:07:15
1    delivered      2018-07-24 20:41:37 2018-07-26 03:24:27
2    delivered      2018-08-08 08:38:49 2018-08-08 08:55:23
3    delivered      2017-11-18 19:28:06 2017-11-18 19:45:59
4    delivered      2018-02-13 21:18:39 2018-02-13 22:20:29

  order_delivered_carrier_date order_delivered_customer_date  \
0          2017-10-04 19:55:00           2017-10-10 21:25:13
1          2018-07-26 14:31:00           2018-08-07 15:27:45
2          2018-08-08 13:50:00           2018-08-17 18:06:29
3          2017-11-22 13:39:59           2017-12-02 00:28:42
4          2018-02-14 19:46:34           2018-02-16 18:17:02

  order_estimated_delivery_date     shiping_time
0                    2017-10-18  8 days 10:17:58
1                    2018-08-13 12 days 12:03:18
2                    2018-09-04  9 days 09:11:06
3                    2017-12-15 13 days 04:42:43
4                    2018-02-26  2 days 19:56:33

##1.2 df_customers dataset

In [9]:
missing_values = df_olist_customers_dataset.isnull().sum()
print(missing_values)
# no missing value

customer_id                 0
customer_unique_id          0
customer_zip_code_prefix    0
customer_city               0
customer_state              0
customer_state_Encoded      0
dtype: int64

In [8]:
from sklearn.preprocessing import LabelEncoder

# 27 states;
# Applying Label Encoding to 'customer_city' and convert categorical variable to dummy variable
encoder = LabelEncoder()
df_olist_customers_dataset['customer_state_Encoded'] = encoder.fit_transform(df_olist_customers_dataset['customer_state'])
print(df_olist_customers_dataset.head(20))

                         customer_id                customer_unique_id  \
0   06b8999e2fba1a1fbc88172c00ba8bc7  861eff4711a542e4b93843c6dd7febb0
1   18955e83d337fd6b2def6b18a428ac77  290c77bc529b7ac935b93aa66c333dc3
2   4e7b3e00288586ebd08712fdd0374a03  060e732b5b29e8181a18229c7b0b2b5e
3   b2b6027bc5c5109e529d4dc6358b12c3  259dac757896d24d7702b9acbbff3f3c
4   4f2d8ab171c80ec8364f7c12e35b23ad  345ecd01c38d18a9036ed96c73b8d066
5   879864dab9bc3047522c92c82e1212b8  4c93744516667ad3b8f1fb645a3116a4
6   fd826e7cf63160e536e0908c76c3f441  addec96d2e059c80c30fe6871d30d177
7   5e274e7a0c3809e14aba7ad5aae0d407  57b2a98a409812fe9618067b6b8ebe4f
8   5adf08e34b2e993982a47070956c5c65  1175e95fb47ddff9de6b2b06188f7e0d
9   4b7139f34592b3a31687243a302fa75b  9afe194fb833f79e300e37e580171f22
10  9fb35e4ed6f0a14a4977cd9aea4042bb  2a7745e1ed516b289ed9b29c7d0539a5
11  5aa9e4fdd4dfd20959cad2d772509598  2a46fb94aef5cbeeb850418118cee090
12  b2d1536598b73a9abd18e0d75d92f0a3  918dc87cd72cd9f6ed4bd442ed785235
13  eabebad39a88bb6f5b52376faec28612  295c05e81917928d76245e842748184d
14  1f1c7bf1c9b041b292af6c1c4470b753  3151a81801c8386361b62277d7fa5ecf
15  206f3129c0e4d7d0b9550426023f0a08  21f748a16f4e1688a9014eb3ee6fa325
16  a7c125a0a07b75146167b7f04a7f8e98  5c2991dbd08bbf3cf410713c4de5a0b5
17  c5c61596a3b6bd0cee5766992c48a9a1  b6e99561fe6f34a55b0b7da92f8ed775
18  9b8ce803689b3562defaad4613ef426f  7f3a72e8f988c6e735ba118d54f47458
19  49d0ea0986edde72da777f15456a0ee0  3e6fd6b2f0d499456a6a6820a40f2d79

    customer_zip_code_prefix          customer_city customer_state  \
0                      14409                 franca             SP
1                       9790  sao bernardo do campo             SP
2                       1151              sao paulo             SP
3                       8775        mogi das cruzes             SP
4                      13056               campinas             SP
5                      89254         jaragua do sul             SC
6                       4534              sao paulo             SP
7                      35182                timoteo             MG
8                      81560               curitiba             PR
9                      30575         belo horizonte             MG
10                     39400          montes claros             MG
11                     20231         rio de janeiro             RJ
12                     18682       lencois paulista             SP
13                      5704              sao paulo             SP
14                     95110          caxias do sul             RS
15                     13412             piracicaba             SP
16                     22750         rio de janeiro             RJ
17                      7124              guarulhos             SP
18                      5416              sao paulo             SP
19                     68485                 pacaja             PA

    customer_state_Encoded
0                       25
1                       25
2                       25
3                       25
4                       25
5                       23
6                       25
7                       10
8                       17
9                       10
10                      10
11                      18
12                      25
13                      25
14                      22
15                      25
16                      18
17                      25
18                      25
19                      13

##1.3 df_payments

In [10]:
missing_values = df_olist_order_payments_dataset.isnull().sum()
print(missing_values)
# no missing value

order_id                0
payment_sequential      0
payment_type            0
payment_installments    0
payment_value           0
dtype: int64

In [11]:
# purchasing frenquency = largest 'payment_sequential'
# payment_installments tell smaller amounts of each payment

# convert 'payment_type' to dummy
encoder = LabelEncoder()
df_olist_order_payments_dataset['payment_type'] = encoder.fit_transform(df_olist_order_payments_dataset['payment_type'])
print(df_olist_order_payments_dataset.head())
#labels: 1:credit_card; 0:boleto; 4:voucher; 2:debit_card; 3: not_defined

                           order_id  payment_sequential  payment_type  \
0  b81ef226f3fe1789b1e8b2acac839d17                   1             1
1  a9810da82917af2d9aefd1278f1dcfa0                   1             1
2  25e8ea4e93396b6fa0d3dd708e76c1bd                   1             1
3  ba78997921bbcdc1373bb41e913ab953                   1             1
4  42fdf880ba16b47b59251dd489d4441a                   1             1

   payment_installments  payment_value
0                     8          99.33
1                     1          24.39
2                     1          65.71
3                     8         107.78
4                     2         128.45

##1.4 df_olist_order_reviews_dataset

In [67]:
# datetime Converting
df_olist_order_reviews_dataset['review_creation_date']= pd.to_datetime(df_olist_order_reviews_dataset['review_creation_date'])
df_olist_order_reviews_dataset['review_answer_timestamp'] = pd.to_datetime(df_olist_order_reviews_dataset['review_answer_timestamp'])

# creating a useful column
df_olist_order_reviews_dataset['review_answer_time'] = df_olist_order_reviews_dataset['review_answer_timestamp'] - df_olist_order_reviews_dataset['review_creation_date']

In [68]:
missing_values = df_olist_order_reviews_dataset.isnull().sum()
print(missing_values)

customer_id                           0
order_id                              0
review_score                          0
review_creation_date                  0
review_answer_timestamp               0
review_comment_title_missing          0
review_comment_title_not_missing      0
review_comment_message_missing        0
review_comment_message_not_missing    0
review_answer_time                    0
dtype: int64

In [70]:
# using dummy variable to replace missing comment-value, 1:missing; 0: not missing
#idea: comment with a title may affect CLV; Comment with a title might affect as well

#1.review_comment_title
# Step 1: Create Dummy Variables for Missing Values
df_olist_order_reviews_dataset['review_comment_title_missing'] = df_olist_order_reviews_dataset['review_comment_title'].isnull().astype(int)

# Step 2: Create Dummy Variables for Not Missing Values
df_olist_order_reviews_dataset['review_comment_title_not_missing'] = (~df_olist_order_reviews_dataset['review_comment_title'].isnull()).astype(int)

# Step 3: Displaying the Updated DataFrame
#print(df_olist_order_reviews_dataset[['review_comment_title', 'review_comment_title_missing', 'review_comment_title_not_missing']])


#2.review_comment_message
df_olist_order_reviews_dataset['review_comment_message_missing'] = df_olist_order_reviews_dataset['review_comment_message'].isnull().astype(int)
df_olist_order_reviews_dataset['review_comment_message_not_missing'] = (~df_olist_order_reviews_dataset['review_comment_message'].isnull()).astype(int)
#print(df_olist_order_reviews_dataset[['review_comment_message', 'review_comment_message_missing', 'review_comment_message_not_missing']])

# drop ['review_comment_title'], ['review_comment_message']

#df_olist_order_reviews_dataset.drop(columns=['review_comment_title','review_comment_message'], inplace=True)
print(df_olist_order_reviews_dataset.head())

KeyError: 'review_comment_title'

# 2.Calculating CLV

##1.AOV

In [13]:
#AOV
df_olist_order_reviews_dataset = df_olist_order_reviews_dataset.rename(columns={'review_id': 'customer_id'})

df_temp = pd.merge(df_olist_order_items_dataset, df_olist_order_payments_dataset, on='order_id')
df_order_based = pd.merge(df_temp, df_olist_orders_dataset, on='order_id')

df_order_medium = pd.merge(df_order_based, df_olist_products_dataset, on='product_id')
df_order_final = pd.merge(df_order_medium, df_olist_sellers_dataset, on='seller_id')
df_customer = pd.merge(df_olist_customers_dataset, df_olist_orders_dataset, on='customer_id')
df_merged = pd.merge(df_order_final, df_customer, on='order_id')

#df_merged.info()
#print(df_merged.head(20))

df_AOV = df_merged.groupby('customer_unique_id').agg(
    total_order_amount=('price', 'sum'),
    order_count=('order_id', 'count')
).reset_index()

df_AOV['AOV'] = df_AOV['total_order_amount'] / df_AOV['order_count']




df_merged_with_AOV = pd.merge(df_merged, df_AOV, on='customer_unique_id')
print(df_merged_with_AOV)

                                order_id  order_item_id  \
0       00010242fe8c5a6d1ba2dd792cb16214              1
1       00018f77f2f0320c557190d7a144bdd3              1
2       000229ec398224ef6ca0657da4fc703e              1
3       00024acbcdf0a6daa1e931b038114c75              1
4       00042b26cf59d7ce69dfabb4e55b4fd9              1
...                                  ...            ...
117596  fffc94f6ce00a00581880bf54a75a037              1
117597  fffcd46ef2263f404302a634eb57f7eb              1
117598  fffce4705a9662cd70adb13d4a31832d              1
117599  fffe18544ffabc95dfada21779c9644f              1
117600  fffe41c64501cc87c801fd61db3f6244              1

                              product_id                         seller_id  \
0       4244733e06e7ecb4970a6e2683c13e61  48436dade18ac8b2bce089ec2a041202
1       e5f2d52b802189ee658865ca93d83a8f  dd7ddc04e1b6c2c614352b383efe2d36
2       c777355d18b72b67abbeef9df44fd0fd  5b51032eddd242adc84c38acab88f23d
3       7634da152a4610f1595efa32f14722fc  9d7a1d34a5052409006425275ba1c2b4
4       ac6c3623068f30de03045865e4e10089  df560393f3a51e74553ab94004ba5c87
...                                  ...                               ...
117596  4aa6014eceb682077f9dc4bffebc05b0  b8bc237ba3788b23da09c0f1f3a3288c
117597  32e07fd915822b0765e448c4dd74c828  f3c38ab652836d21de61fb8314b69182
117598  72a30483855e2eafc67aee5dc2560482  c3cfdc648177fdbbbb35635a37472c53
117599  9c422a519119dcad7575db5af1ba540e  2b3e4a2a3ea8e01938cabda2a3e5cc79
117600  350688d9dc1e75ff97be326363655e01  f7ccf836d21b2fb1de37564105216cc1

        shipping_limit_date   price  freight_value  payment_sequential  \
0       2017-09-19 09:45:35   58.90          13.29                   1
1       2017-05-03 11:05:13  239.90          19.93                   1
2       2018-01-18 14:48:30  199.00          17.87                   1
3       2018-08-15 10:10:18   12.99          12.79                   1
4       2017-02-13 13:57:51  199.90          18.14                   1
...                     ...     ...            ...                 ...
117596  2018-05-02 04:11:01  299.99          43.41                   1
117597  2018-07-20 04:31:48  350.00          36.53                   1
117598  2017-10-30 17:14:25   99.90          16.95                   1
117599  2017-08-21 00:04:32   55.99           8.72                   1
117600  2018-06-12 17:10:13   43.00          12.79                   1

        payment_type  payment_installments  ...  order_status_y  \
0                  1                     2  ...       delivered
1                  1                     3  ...       delivered
2                  1                     5  ...       delivered
3                  1                     2  ...       delivered
4                  1                     3  ...       delivered
...              ...                   ...  ...             ...
117596             0                     1  ...       delivered
117597             0                     1  ...       delivered
117598             1                     3  ...       delivered
117599             1                     3  ...       delivered
117600             1                     1  ...       delivered

       order_purchase_timestamp_y order_approved_at_y  \
0             2017-09-13 08:59:02 2017-09-13 09:45:35
1             2017-04-26 10:53:06 2017-04-26 11:05:13
2             2018-01-14 14:33:31 2018-01-14 14:48:30
3             2018-08-08 10:00:35 2018-08-08 10:10:18
4             2017-02-04 13:57:51 2017-02-04 14:10:13
...                           ...                 ...
117596        2018-04-23 13:57:06 2018-04-25 04:11:01
117597        2018-07-14 10:26:46 2018-07-17 04:31:48
117598        2017-10-23 17:07:56 2017-10-24 17:14:25
117599        2017-08-14 23:02:59 2017-08-15 00:04:32
117600        2018-06-09 17:00:18 2018-06-09 17:10:13

       order_delivered_carrier_date_y order_delivered_customer_date_y  \
0                 2017-09-19 18:34:16             2017-09-20 23:43:48
1                 2017-05-04 14:35:00             2017-05-12 16:04:24
2                 2018-01-16 12:36:48             2018-01-22 13:19:16
3                 2018-08-10 13:28:00             2018-08-14 13:32:39
4                 2017-02-16 09:46:09             2017-03-01 16:42:31
...                               ...                             ...
117596            2018-04-25 12:09:00             2018-05-10 22:56:40
117597            2018-07-17 08:05:00             2018-07-23 20:31:55
117598            2017-10-26 15:13:14             2017-10-28 12:22:22
117599            2017-08-15 19:02:53             2017-08-16 21:59:40
117600            2018-06-11 14:11:00             2018-06-14 17:56:26

       order_estimated_delivery_date_y   shiping_time_y total_order_amount  \
0                           2017-09-29  7 days 13:58:13              58.90
1                           2017-05-15 16 days 04:59:11             252.78
2                           2018-02-05  7 days 22:30:46             199.00
3                           2018-08-20  6 days 03:22:21              12.99
4                           2017-03-17 25 days 02:32:18             199.90
...                                ...              ...                ...
117596                      2018-05-18 15 days 18:45:39             299.99
117597                      2018-08-01  6 days 16:00:07             350.00
117598                      2017-11-10  3 days 19:07:57              99.90
117599                      2017-08-25  1 days 21:55:08              55.99
117600                      2018-06-28  5 days 00:46:13              43.00

       order_count     AOV
0                1   58.90
1                2  126.39
2                1  199.00
3                1   12.99
4                1  199.90
...            ...     ...
117596           1  299.99
117597           1  350.00
117598           1   99.90
117599           1   55.99
117600           1   43.00

[117601 rows x 46 columns]

##2.PF

In [51]:
#PF
df_PF_1 = pd.merge(df_olist_customers_dataset,df_olist_orders_dataset, left_on = 'customer_id', right_on = 'customer_id')
#print(df_PF.head())

df_PF = df_PF_1.groupby('customer_unique_id').agg(
    PF=('order_id', 'count')
).reset_index()
print(df_PF.head())

                 customer_unique_id  PF
0  0000366f3b9a7992bf8c76cfdf3221e2   1
1  0000b849f77a49e4a4ce2b2a4ca5be3f   1
2  0000f46a3911fa3c0805444483337064   1
3  0000f6ccb0745a6a4b88665a16c9f078   1
4  0004aac84e0df4da2b147fca70cf8255   1

## 3.Lifespan

In [52]:
#Step1: data preperation
df_LS = df_PF_1.groupby('customer_unique_id').agg(
    first_purchase=('order_purchase_timestamp', 'min'),
    last_purchase=('order_purchase_timestamp', 'max')
).reset_index()


# Step 3: Calculate Customer Lifespan in Days (Minimum 1 Day)
df_LS['Customer_Lifespan'] = (df_LS['last_purchase'] - df_LS['first_purchase']).dt.days
df_LS['Customer_Lifespan'] = df_LS['Customer_Lifespan'].apply(lambda x: x if x > 0 else 1)

# Step 4: Display the Customer Lifespan
print(df_LS.head())

                 customer_unique_id      first_purchase       last_purchase  \
0  0000366f3b9a7992bf8c76cfdf3221e2 2018-05-10 10:56:27 2018-05-10 10:56:27
1  0000b849f77a49e4a4ce2b2a4ca5be3f 2018-05-07 11:11:27 2018-05-07 11:11:27
2  0000f46a3911fa3c0805444483337064 2017-03-10 21:05:03 2017-03-10 21:05:03
3  0000f6ccb0745a6a4b88665a16c9f078 2017-10-12 20:29:41 2017-10-12 20:29:41
4  0004aac84e0df4da2b147fca70cf8255 2017-11-14 19:45:42 2017-11-14 19:45:42

   Customer_Lifespan
0                  1
1                  1
2                  1
3                  1
4                  1

## 4. CLV

In [53]:
# Merging three elements
df_CLV_1 = pd.merge(df_AOV, df_PF, on='customer_unique_id')
df_CLV = pd.merge(df_CLV_1, df_LS, on='customer_unique_id')

# Delating other columns
df_CLV.drop(columns=['total_order_amount','order_count', 'first_purchase', 'last_purchase'], inplace=True)
print(df_CLV.head())

                 customer_unique_id     AOV  PF  Customer_Lifespan
0  0000366f3b9a7992bf8c76cfdf3221e2  129.90   1                  1
1  0000b849f77a49e4a4ce2b2a4ca5be3f   18.90   1                  1
2  0000f46a3911fa3c0805444483337064   69.00   1                  1
3  0000f6ccb0745a6a4b88665a16c9f078   25.99   1                  1
4  0004aac84e0df4da2b147fca70cf8255  180.00   1                  1

In [54]:
CLV = df_CLV['AOV'] * df_CLV['PF'] * df_CLV['Customer_Lifespan']
df_CLV['CLV'] = CLV
print(df_CLV.head())

                 customer_unique_id     AOV  PF  Customer_Lifespan     CLV
0  0000366f3b9a7992bf8c76cfdf3221e2  129.90   1                  1  129.90
1  0000b849f77a49e4a4ce2b2a4ca5be3f   18.90   1                  1   18.90
2  0000f46a3911fa3c0805444483337064   69.00   1                  1   69.00
3  0000f6ccb0745a6a4b88665a16c9f078   25.99   1                  1   25.99
4  0004aac84e0df4da2b147fca70cf8255  180.00   1                  1  180.00